@import '../../Style/mixins';

.editor{
     margin: 0 auto;
     width: 50%;
     border: 1px #ccc solid;
     min-height: 300px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
 }

.btn{
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
}

.demo-editor{
    padding: 0 20px;
    height: 200px;
}

 @include breaking-point(0,768){
    .editor{
        width: 90%;
    }
}
 