.wrapper
    padding: 50px

.blocks
    margin-top: 20px
    display: flex

.card
    min-height: 100px
    width: 200px
    padding: 20px
    border: 1px #ccc solid
    border-radius: 5px
    margin-right: 20px

h1
    text-align: center

.btn-group
    margin-top: 20px 
    display: flex
    flex-direction: row
    justify-content: center
    .btn
        margin-right: 10px
        margin-left: 10px