.main-wrapper {
	padding: 40px 64px 92px;
}

h1 {
	margin-bottom: 40px;
	font-size: 32px;
	font-weight: normal;
	letter-spacing: -0.5px;
	line-height: 33px;
}

.tab-wrapper {
	margin-bottom: 16px;
	border-bottom: 1px solid rgba(64, 64, 64, 0.1);

	button {
		margin-right: 32px;
		font-size: 14px;
		line-height: 18px;
		text-transform: uppercase;
		color: rgba(64, 64, 64, 0.5);
		background-color: unset;
		cursor: pointer;

		&:hover {
			opacity: 1;
		}
	}

	.active {
		padding-bottom: 23px;
		color: #FD8C42;
		border-bottom: 1px solid #FD8C42;
	}
}

.table {
	margin-bottom: 24px;
	&-row {
		display: flex;
		justify-content: space-between;
		padding: 24px 0;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);

		&-item {
			padding-right: 10px;
			font-size: 16px;
			letter-spacing: -0.25px;
			line-height: 16px;

			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			span {
				margin-right: 10px;
				opacity: 0.5;
			}
		}
	}
}