@mixin breaking-point($min-width, $max-width: false, $orientation: false) {

    @if $orientation {
      @if $max-width {
        @media only screen and (min-width: #{$min-width}px) and (max-width: #{$max-width}px) and (orientation: $orientation ) {
          @content;
        }
      } @else {
        @media only screen and (min-width: #{$min-width}px) and (orientation: $orientation ) {
          @content;
        }
      }
    }
    @else {
      @if $max-width {
        @media only screen and (min-width: #{$min-width}px) and (max-width: #{$max-width}px) {
          @content;
        }
      } @else {
        @media only screen and (min-width: #{$min-width}px) {
          @content;
        }
      }
    }
  }