@import ./Style/reset
@import ./Style/fonts
@import ./Style/main
    
*
    box-sizing: border-box
    border: none
    padding: 0
    margin: 0
    font-family: 'Questrial', sans-serif

body
    min-height: 100vh